body {
font-family: 'Roboto', sans-serif;
background: #FFF;
color: #434455
}
a {
    text-decoration: none;
}
ul {
    list-style: none;
}
.header-list {
    color: var(--NAVY-BLUE, #2E2F42);
font-family: Raleway;
font-size: 18px;
font-weight: 700;
line-height: 1.16;
letter-spacing: 0.54px;
text-transform: uppercase;
}
.header-menu-list {
    color: var(--NAVY-BLUE, #2E2F42);
font-size: 16px;
font-weight: 500;
line-height: 1.5; 
letter-spacing: 0.32px;
}
.header-menu-list:hover {
    color: #404BBF;
}
.header-menu-list:focus {
    color: #404bbf
}
.logo-title2 {
    color: var(--IRIS, #4D5AE5);
font-family: "Raleway", sans-serif;
font-size: 18px;
font-weight: 700;
line-height: 1.17; 
letter-spacing: 0.54px;
text-transform: uppercase;
}
.logo-title {
    color: var(--NAVY-BLUE, #2E2F42);
font-family: "Raleway", sans-serif;
font-size: 18px;
font-style: normal;
font-weight: 700;
line-height: 1.17;
letter-spacing: 0.54px;
text-transform: uppercase;
}

.adrs-info {
    color: var(--SLATE, #434455);
font-size: 16px;
font-weight: 400;
line-height: 1.5; 
letter-spacing: 0.32px;
font-style: normal
}
.adrs-info:hover {
    color: var(--OCEAN, #404BBF);
font-size: 16px;
font-style: normal;
font-weight: 400;
line-height: 1.5;
letter-spacing: 0.32px;
}
.fir-logo {
    color: var(--WHITE, #FFF);
text-align: center;
font-size: 56px;
font-weight: 700;
line-height: 1.07;
letter-spacing: 1.12px;
background: var(--NAVY-BLUE, #2E2F42);
}
.button {
    color: var(--WHITE, #FFF);
    font-family: "Roboto", sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.64px;
background: var(--IRIS, #4D5AE5);
cursor: pointer
}
.button:hover {
background: var(--OCEAN, #404BBF);
}
.name-name {
    color: var(--NAVY-BLUE, #2E2F42);
font-size: 20px;
font-style: normal;
font-weight: 500;
line-height: 1.2;
letter-spacing: 0.4px;
background-color: #FFFFFF;
}
.integr-info {
    color: var(--SLATE, #434455);
font-size: 16px;
font-style: normal;
font-weight: 400;
line-height: 1.5;
letter-spacing: 0.32px;

}
h2 {
    color: var(--NAVY-BLUE, #2E2F42);
text-align: center;
font-size: 36px;
font-style: normal;
font-weight: 700;
line-height: 1.11;
letter-spacing: 0.72px;
text-transform: capitalize;
}
.integr-logo {
    color: var(--NAVY-BLUE, #2E2F42);
text-align: center;
font-size: 36px;
font-style: normal;
font-weight: 700;
line-height: 1.11;
letter-spacing: 0.72px;
text-transform: capitalize;
background-color: #FFFFFF
}
.portfol-info {
    color: var(--SLATE, #434455);
font-size: 16px;
font-style: normal;
font-weight: 400;
line-height: 1.5;
letter-spacing: 0.32px;
}
footer {
    background: var(--NAVY-BLUE, #2E2F42);
}
.footr-logo {
    color: var(--CLOUD, #F4F4FD);
font-family: Raleway;
font-size: 18px;
font-style: normal;
font-weight: 700;
line-height: 1.16;
letter-spacing: 0.54px;
text-transform: uppercase;
}
.last-word {
    color: var(--CLOUD, #F4F4FD);
font-size: 16px;
font-style: normal;
font-weight: 400;
line-height: 1.5;
letter-spacing: 0.32px;
}
.header-menu-list-stud {
    color: var(--NAVY-BLUE, #2E2F42);
font-size: 16px;
font-weight: 500;
line-height: 1.5; 
letter-spacing: 0.32px;
}
.header-menu-list-stud:hover {
    color: var(--OCEAN, #404BBF);
font-size: 16px;
font-style: normal;
font-weight: 500;
line-height: 1.5;
letter-spacing: 0.32px;
}